body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

/* User Added */
code {
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 0.3em;
    padding: 3px 3px 3px;
    white-space: nowrap;	
}
pre {
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 0.3em;
    padding: 10px;
}
pre code {
    white-space: pre-wrap;
}
